@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins';
    text-align: center;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 30px;
    margin-bottom: 10px;
}

.input-box {
    width: 300px;
}

.button-submit[type=submit] {
    width: 100%;
    background-color: blueviolet;
    height: 40px;
    border-radius: 7px;
    color: white;
}

label {
    font-size: 16px;
}

.input {
    border: 1px solid black;
    border-radius: 7px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    outline: none;
    padding: 10px;
}

textarea {
    min-height: 150px;
}

.input:focus {
    border: 1px solid blueviolet;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.418);
}

.submited {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    display: block;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.loading-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-screen > div {
    border: 5px solid blueviolet; /* Light grey */
    border-top: 5px solid #f3f3f3; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}